@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base{
  html{
    font-size: 'Inter', 'sans-serif';
    color: white;
    background-color: black;
  }
}

.logo{
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
}

.navbar{
  background-color: turquoise;
  width: auto;
  height: 50px;
  color: white;
  margin-left: 1rem;
}
