/* BlogPage.css */

.blog-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding-bottom: 5%;
}

.image-box {
  width: 40%;
  padding: 20px;
}

.welcome-box {
  color: white;
  flex: 1;
  padding: 20px;
}

/* Add spacing between blog post boxes */
.blog-content {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust the gap value to control the spacing */
}

/* You can adjust other styles as needed */
